@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
html {
    overflow: hidden;
    scrollbar-width: none;
    overflow-y: scroll;
    margin: 0;
    width: 100%;
    font-family: 'Dosis', sans-serif;
    font-weight: 300;   
    &::-webkit-scrollbar {
        display: none;
    }
}