//@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/fontawesome.min.css");
@import "../fontawesome6/scss/fontawesome.scss";
@import "../fontawesome6/scss/solid.scss";
html {
    overflow: hidden;
    scrollbar-width: none;
    overflow-y: scroll;
    margin: 0;
    width: 100%;
    font-family: 'Dosis', sans-serif;
    font-weight: 300;   
    &::-webkit-scrollbar {
        display: none;
    }
}